*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blue: #1e90ff;
  --white: #ffffff;
}

nav{
 background-color: var(--blue);
  text-align: center;
  padding: 15px 0px 15px 0px;
  color: var(--white);
 
}
.subjects{
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid black;
}

button{
  background-color: var(--blue);
  color: var(--white);
  padding: 5px 15px 5px 15px;
  border: transparent;
  margin: 0px 5px 0px 8px;
  cursor: pointer;
}

.q-nav{
  background-color: var(--blue);
  /* text-align: center; */
  padding: 10px 0px 10px 0px;
  color: var(--white);
  display: flex;
}
.options{
  display: flex;
  /* justify-content: right; */
  /* align-items: flex-end; */
 position: absolute;
 right: 350px;
}
.buttons{
  padding: 10px 0px 10px 0px;

}
.container{
  display: grid;
  grid-gap: 20px; 
  grid-template-columns: 4fr 1fr;
 
}
/* .container1{
  display: grid;
  grid-gap: 10px; 
  grid-column-start: 1;
  grid-column-end: 3;
}
.container2{
  display: grid;
  grid-gap: 10px; 
  grid-column-start: 3;
  grid-column-end: 4;
} */

.pallete{
  box-shadow: 2px 1px 3px 2px #888888;  background-color: rgba(127, 255, 212, 0.735);
  position: absolute;
  height: 250px;
  width: 300px;
}

.pallete p{
  background-color: var(--blue);
  color: var(--white);
  border: 2px solid white;
  padding: 5px;

}
.button-no{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  
}
.button-no button{
  /* background-color: grey; */
  color: #000000;
  padding: 5px 0px 5px 0px ;
  margin: 2px;
  background-color: #b9b6b6;
}
.question-set{
  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    font-size: 20px;
  }
  .q-sec{
    box-shadow: 2px 1px 8px 1px #888888;
  /* width: 900px; */
  padding-bottom: 50px;

}
.question-set h2{
  color: var(--blue);
  padding: 10px;
}
.question-set p{
  justify-content: left;
  padding: 10px;
  /* text-indent: 50px; */
  line-height: 1.4;
}
.ques .opt {
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 15px;
}
.ques input{
position: relative;
top: 28px;
/* margin-left: 5px; */
}
.result{
  /* position: relative; */
  top: 170px;
  box-shadow: 2px 1px 3px 2px #888888;  background-color: rgba(127, 255, 212, 0.735);
  position: relative;
  height: 250px;

  width: 300px;
 
}

.result-button{
 padding-top: 10px;
 border-top: 5px solid white;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.result-button button{
  background-color: var(--blue);
  border: 2px solid white;
  color: var(--white);
  padding: 5px 15px 5px 15px;
  margin: 0px 5px 0px 8px;
  cursor: pointer;
  font-weight: bold;

}
.msg{

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.msg p{
  color: #000000;
}

.id{
  /* top: 220px; */
  display: flex;
  box-shadow: 2px 1px 3px 2px #888888;
  background-color: rgba(127, 255, 212, 0.735);
  position: relative;
  height: 170px;
margin-bottom: 10px;
  width: 300px;
}
.id img{
  height: 160px;
  width: 140px;
  padding: 10px;
}
.details{
  padding-top: 30px;
  line-height: 1.9;
}

